.hello {
    margin-top: 10%;
    margin-bottom: auto;
    font-size: 30px;
    width: 100vw;
    text-align: center;
    .img {
        position: relative;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(./john.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 583px;
        height: 150px;
        border-radius: 80px;
    }
}
@media (max-width: 600px) {
    .hello {
        .img {
            width: 300px;
            height: 80px;
            border-radius: 80px;
        }
    }
}
.alertSuccess {
    position: fixed;
    z-index: 1000;
    top: 10vh;
    right: 0;
    background-color: rgba(0, 170, 144, 0.9);
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    transition: ease 1s;
    opacity: 0;
    transform: translateX(250px);
    box-shadow: 0px 0px 3px 2px rgba(166, 255, 209, 0.8), 0px 0px 5px 15px rgba(159, 255, 226, 0.4);
}
.alertFail {
    position: fixed;
    z-index: 1000;
    top: 10vh;
    right: 0;
    background-color: rgba(184, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    transition: ease 1s;
    opacity: 0;
    transform: translateX(250px);
    box-shadow: 0px 0px 3px 2px rgba(255, 115, 115, 0.8), 0px 0px 5px 15px rgba(255, 159, 159, 0.4);
}
.alertQuest {
    position: fixed;
    z-index: 1000;
    top: 10vh;
    right: 0;
    background-color: rgba(255, 252, 68, 0.9);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    transition: ease 1s;
    opacity: 0;
    transform: translateX(250px);
    box-shadow: 0px 0px 3px 2px rgba(255, 253, 115, 0.8), 0px 0px 5px 15px rgba(255, 247, 159, 0.4);
}
.alertShow {
    opacity: 1;
    transform: translateX(0);
}
.topControl {
    display: flex;
    flex-direction: row;
}
.dataSlide {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 3px 10px;
    border-radius: 20px;
    border: .5px solid black;
    transition: ease 0.1s;
    width: fit-content;
    max-width: 40vw;
    &:hover {
        background-color: rgb(68, 0, 87);
        color: white;
        transform: translateX(5px);
    }
}
.scoreHidden {
    right: -100% !important;
    .scoreSlideBlur {
        top: -100% !important;
        left: -100% !important;
    }
}
.scoreSlide {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: ease 1s;
    .scoreSlideBlur {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(1px);
        transition: ease 0.5s;
        padding: 10px calc(70vw + 10px) 10px 10px;
    }
    .scoreButton {
        color: white;
        border: solid 0.5px rgb(78, 0, 84);
        position: fixed;
        z-index: 90;
        top: 70%;
        left: 80%;
        width: fit-content;
        padding: 40px 30px;
        background-color: rgb(67, 0, 93);
        border-radius: 50px;
        opacity: 0.2;
        user-select: none;
        &:hover {
            opacity: 1;
            transition: ease 0.1s;
        }
    }
    .scoreBox {
        position: relative;
        width: 60vw;
        margin-left: auto;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        padding: 130px 0;
        .scoreTopFunc {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(230, 121, 255, 0.3);
            .scoreSearch {
                text-align: center;
                outline: none;
                border: none;
                border-bottom: solid 1px black;
                background-color: unset;
                padding: 4px 10px;
                width: 80%;
                display: block;
                margin: 20px auto 10px;
            }
            .clearSearch {
                position: absolute;
                top: 20px;
                right: 30px;
                width: fit-content;
                opacity: 0.3;
                background-color: rgb(92, 0, 108);
                color: white;
                padding: 3px 8px;
                border-radius: 15px;
                transition: ease 0.1s;
                &:hover {
                    opacity: 1;
                }
            }
            .selectAll {
                padding: 0 30px;
                width: fit-content;
                background-color: rgb(95, 0, 142);
                color: white;
                margin-right: auto;
                margin-left: auto;
                cursor: pointer;
                border-radius: 15px;
                transition: ease 0.1s;
                &:hover {
                    background-color: rgb(160, 0, 192);
                }
            }
            .multiSelect {
                padding: 3px 0;
                width: fit-content;
                margin: 5px auto;
                border-radius: 20px;
                background-color: rgb(95, 0, 142);
                color: black;
                span {
                    display: inline-block;
                }
                .changeScoreGoAll {
                    padding: 0 15px;
                    margin: 0 25px;
                    background-color: rgb(236, 204, 255);
                    color: black;
                    border-radius: 15px;
                    transition: ease 0.1s;
                    &:hover {
                        background-color: rgb(0, 110, 20);
                        color: white;
                    }
                }
                .changeScoreAll {
                    margin: 0 10px;
                    padding: 0 5px;
                    background-color: rgb(236, 204, 255);
                    border-radius: 15px;
                    transition: ease 0.1s;
                    &:hover {
                        background-color: rgb(0, 110, 20);
                        color: white;
                    }
                }
            }
        }
        .scoreLog {
            transition: ease 0.1s;
            padding: 30px 10px 10px 10px;
            font-size: 18px;
            user-select: none;
            position: relative;
            &:nth-child(odd) {
                background-color: #eee;
            }
            &:hover {
                background-color: #ddd;
            }
            .scoreFunc {
                position: absolute;
                font-size: 18px;
                top: 5px;
                right: 10px;
            }
            .changeScore {
                display: inline-block;
                padding: 2px;
                min-width: 25px;
                margin: 0 5px;
                text-align: center;
                color: rgb(0, 127, 76);
                transition: ease 0.1s;
                border-radius: 15px;
                &:hover {
                    background-color: rgb(0, 127, 76);
                    color: white;
                }
            }
            .changeScoreGo {
                display: inline-block;
                padding: 2px 5px;
                color: rgb(0, 127, 76);
                margin: 0 5px;
                transition: ease 0.1s;
                border-radius: 15px;
                &:hover {
                    background-color: rgb(0, 127, 76);
                    color: white;
                }
            }
        }
    }
    @media (max-width: 600px) {
        .scoreButton {
            position: fixed;
            top: 10px;
            left: 10px;
            padding: 10px 5px;
        }
        .scoreBox {
            width: 100vw;
        }
    }
}
#app {
    transition: ease 0.3s;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.importantSpace {
    height: 10vh;
}
.importantWord {
    background-image: linear-gradient(to bottom, rgb(255, 237, 202),rgb(255, 247, 220), white);
    height: 10vh;
    width: 100vw;
}
.ask {
    padding: 40px 0;
    font-weight: bold;
    font-size: 10vh;
    text-align: center;
}
.answer {
    padding: 2vh 0;
    font-size: 30px;
    text-align: center;
    outline: none;
    border: solid 0.2px rgb(215, 215, 215);
}
.finish {
    padding-top: 20px;
    color: rgb(0, 116, 96);
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.result {
    height: 10vh;
    font-size: 30px;
    text-align: center;
    pointer-events: none;
    transition: ease 0.3s;
}
.resultIncorrect {
    color: rgb(141, 0, 0);
    background-image: linear-gradient(to top,rgb(255, 204, 199), white);
}
.resultCorrect {
    color: rgb(0, 129, 146);
    background-image: linear-gradient(to top,rgb(186, 255, 253), white);
}
#control {
    user-select: none;
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    font-size: 20px;
    
    .ctrl {
        padding: 0 10px;
        cursor: pointer;
        transition: ease 0.2s;
        margin-top: auto;
        margin-bottom: auto;
        &:hover {
            transform: translateY(-3px);
            color: rgb(0, 102, 255);
        }
    }
    .importantActive {
        color: rgb(255, 153, 0);
        background-color: rgb(255, 247, 170);
        border-radius: 20px;
    }
    #ctrlImportant:hover {
        color: rgb(255, 153, 0);
    }

    #ctrlSearch {
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    #ctrlEdit {
        border: 1px solid rgb(0, 171, 209);
        border-radius: 20px;
        &:hover {
            color: rgb(0, 118, 122);
            background-color: rgb(215, 249, 255);
            border: solid 1px rgb(215, 249, 255);
        }
    }

    #ctrlAdd {
        border: 1px solid rgb(27, 181, 0);
        border-radius: 20px;
        &:hover {
            color: rgb(0, 94, 12);
            background-color: rgb(220, 255, 215);
            border: solid 1px rgb(220, 255, 215);
        }
    }

    #ctrlClear {
        border: 1px solid rgb(176, 0, 0);
        border-radius: 20px;
        &:hover {
            color: rgb(172, 0, 0);
            background-color: rgb(255, 215, 215);
            border: solid 1px rgb(255, 215, 215);
        }
    }
}
@media (max-width: 600px) {
    #control {
        height: 15vh;
    }
}
.onTopHidden {
    top: -110vh !important;
}
.onTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    transition: ease 0.3s;
    .onTop_blur {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(1px);
    }
    .onTop_close {
        position: relative;
        margin-top: 10px;
        padding: 5px 10px;
        background-image: linear-gradient(to bottom, rgb(255, 114, 114), white);
        width: fit-content;
        margin-left: auto;
        margin-right: 5vw;
        border-radius: 20px 20px 0 0;
        cursor: pointer;
        transition: ease 0.3s;
        &:hover {
            transform: translateY(5px);
            color: brown;
        }
    }
    .onTop_box_full {
        height: 90vh !important;
        border-radius: 20px 0 20px 20px !important;
    }
    .onTop_box {
        position: relative;
        padding:  10px 20px 30px 20px;
        margin: 0 5vw;
        width: 90vw;
        height: 65vh;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: white;
        border-radius: 20px 0 0 0;
        line-height: 28px;
        .options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 12px;
            position: relative;
            text-align: right;
            margin-top: 20px;
            padding: 0 0 0 10px;
            border-top: 0.5px solid rgb(160, 160, 160);
            transition: ease 0.3s;
            background-image: linear-gradient(to right, rgb(248, 228, 255), rgb(255, 255, 255));
            cursor: pointer;
            color: rgb(68, 0, 81);
            &:hover {
                background-image: none;
                background-color: rgb(251, 218, 255);
            }
            .edit, .delete {
                font-size: 14px;
                transition: ease .5s;
                opacity: 0;
                position: absolute;
                top: 0;
                right: -15%;
                text-align: center;
                padding: 0 10px;
                border-radius: 20px;
            }
            .editShow {
                opacity: 1;
                right: 85px;
                &:hover {
                    background-color: rgb(168, 24, 194);
                    color: rgb(255, 255, 255);
                }
            }
            .deleteShow {
                opacity: 1;
                right: 20px;
                &:hover {
                    background-color: rgb(168, 24, 194);
                    color: rgb(255, 255, 255);
                }
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-height: 70vh;
            label {
                display: block;
                text-align: left;
                padding: 0 40px;
                background-image: linear-gradient(to right, rgb(243, 218, 255), rgb(255, 255, 255));
            }
            input {
                border: none;
                outline: none;
                padding: 0 20px;
                border-bottom: 0.5px solid #aaa;
                margin: 10px 0;
            }
        }
        .list_UserId {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-bottom: 0.5px solid black;
            line-break:strict;
            justify-content: space-around;
        }
        .list_headerButton {
            display: inline-block;
            border: solid 0.5px black;
            outline: none;
            background-color: unset;
            margin: 10px;
            padding: 0 10px;
            border-radius: 15px;
            cursor: pointer;
            transition: ease 0.3s;
            &:hover {
                background-color: rgb(69, 0, 88);
                color: white;
            }
        }
        .list_ChangeBox {
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(224, 123, 255, 0.2);
            backdrop-filter: blur(1px);
            transition: ease 0.3s;
            transform: translateY(-100vh);
            padding: 30vh 0;
            text-align: center;
            label {
                display: inline-block;
                width: fit-content;
                padding: 5px 10px;
                margin: 10px;
                background-image: linear-gradient(to top, rgb(235, 188, 255), rgba(255, 255, 255, 0));
                color: black;
                border-radius: 30px;
            }
            input {
                background-color: unset;
                outline: none;
                border: none;
                border-bottom: solid 1px black;
                width: 200px;
            }
            .changeButton {
                width: fit-content;
                margin: 20px 0 0 50%;
                transform: translateX(-50%);
                padding: 5px 20px;
                border-radius: 20px;
                background-color: unset;
                border: solid 0.5px black;
                cursor: pointer;
                transition: ease 0.1s;
                &:hover {
                    background-color: rgb(69, 0, 94);
                    color: white;
                }
            }
            .unClick {
                cursor: no-drop;
                background-color: unset !important;
                color: black !important;
                opacity: 0.3;
            }
        }
        .list_ChangeShow {
            transform: translateY(0);
        }
        .list_word {
            position: relative;
            transition: ease 0.1s;
            margin: 3px 0;
            padding: 25px 10px 5px 10px;
            border-radius: 20px;
            &:nth-child(odd) {
                background-color: #eee;
            }
            span {
                position: absolute;
                top: 5px;
                right: 50px;
                font-size: 12px;
            }
        }
        .list_option {
            position: absolute;
            top: 2px;
            display: inline-block;
            border-radius: 20px;
            padding: 0 5px;
            transition: ease 0.1s;
            background-color: #eee;
            opacity: 0.5;
            &:hover {
                opacity: 1;
                color: black !important;
            }
        }
        .list_option_block {
            position: absolute;
            top: 0;
            display: inline-block;
            border-radius: 20px;
            padding: 0 5px;
            transition: ease 0.1s;
            background-color: #eee !important;
            color: #aaa !important;
            opacity: 0.5;
            cursor: no-drop;
        }
        .list_edit {
            right: 80px;
            color: rgb(0, 116, 142);
            &:hover {
                background-color: rgb(0, 169, 207);
            }
        }
        .list_clear {
            right: 45px;
            color: rgb(141, 0, 0);
            &:hover {
                background-color: rgb(255, 84, 84);
            }
        }
        .list_go {
            right: 10px;
            color: rgb(0, 141, 19);
            &:hover {
                background-color: rgb(0, 164, 5);
            }
        }
        .list_haven {
            opacity: 1;
            top: 10;
            right: 10px;
            color: black;
            cursor: no-drop;
            background-color: rgb(0, 164, 5);
        }
        .list_addWord {
            width: fit-content;
            padding: 3px 30px;
            margin-top: 20px;
            border-radius: 30px;
            cursor: pointer;
            border: 1px solid rgb(0, 81, 68);
            transition: ease 0.1s;
            &:hover {
                background-color: rgb(0, 81, 68);
                color: white;
            }
        }
        .deteleAccount {
            text-align: center;
            width: fit-content;
            margin-top: 20px;
            margin-left: auto;
            padding: 10px 20px;
            color:rgb(198, 0, 0);
            cursor: pointer;
        }
        .DeleteAccountSlideUserId {
            text-align: center;
            background-color: black;
            color: white;
            padding: 20px;
        }
        .DeleteAccountSlideSure {
            color:rgb(213, 0, 0);
            padding: 20px 0;
        }
        .DeleteAccountSlideSubmit {
            border: 1px solid rgb(225, 0, 0) !important;
            padding: 10px 30px;
            color: rgb(208, 0, 0);
            border-radius: 30px;
            cursor: pointer;
            transition: ease 0.1s;
            &:hover {
                color: white;
                background-color: rgb(225, 0, 0);
            }
        }
        .DeleteAccountSlideCancle {
            border: 1px solid rgb(0, 161, 81) !important;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 10px 75px;
            color: rgb(0, 164, 93);
            border-radius: 30px;
            cursor: pointer;
            transition: ease 0.1s;
            &:hover {
                color: white;
                background-color: rgb(0, 168, 78);
            }
        }
        .adminLog {
            position: relative;
            padding: 25px 10px 5px 10px;
            border-radius: 15px;
            &:nth-child(odd) {
                background-color: rgba(0, 0, 0, 0.05);
            }
            span {
                position: absolute;
                top: 5px;
                right: 50px;
                font-size: 12px;
                &:nth-child(1) {
                    right: 80px;
                }
                &:nth-child(2) {
                    right: 30px;
                }
            }
            .log_option {
                position: absolute;
                top: 2px;
                right: 5px;
                display: inline-block;
                border-radius: 20px;
                padding: 0 5px;
                transition: ease 0.1s;
                background-color: #eee;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                    color: black !important;
                }
            }
            .log_go {
                right: 10px;
                color: rgb(0, 141, 19);
                &:hover {
                    background-color: rgb(0, 164, 5);
                }
            }
            .log_haven {
                opacity: 1;
                top: 10;
                right: 10px;
                color: black;
                cursor: no-drop;
                background-color: rgb(0, 164, 5);
            }
        }
        .adminLogHover {
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 0.2) !important;
            }
        }
        .controlContainer {
            display: flex;
            flex-direction: row;
            padding: 10px 0;
            .control {
                padding: 5px;
                margin: 0 5px;
                border: solid 0.5px rgb(0, 0, 0);
                width: fit-content;
                border-radius: 20px;
                transition: ease 0.2s;
                background-color: rgb(255, 255, 255);
                &:hover {
                    background-color: rgb(68, 0, 102);
                    color: white;
                }
            }
        }
        .kickOut {
            width: fit-content;
            margin: 10px 0;
            padding: 5px 10px;
            border-radius: 20px;
            border: solid 1px rgb(153, 0, 0);
            background-color: rgb(255, 185, 185);
            transition: 0.05s ease;
            &:hover {
                color: white;
                background-color: rgb(130, 0, 0);
            }
        }
        .showPassword {
            text-align: center;
            margin-bottom: 20px;
            transition: ease 0.05s;
            &:hover {
                color: rgb(107, 0, 189);
            }
            span {
                position: relative;
                .mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    background-color: white;
                    transition: ease 0.05s;
                    cursor: pointer;
                }
                .unMask {
                    opacity: 0;
                }
            }
        }
    }
    .onTop_func {
        position: relative;
        height: 20vh;
        padding: 5px 20px;
        border-radius: 0 0 20px 20px;
        margin: 0 5vw;
        background-color: white;
        border-top: 1px solid rgb(190, 190, 190);
        .onTop_isEdit {
            position: absolute;
            top: -14px;
            left: 0;
            padding: 0 10px;
            margin: 0 auto 0 5vw;
            width: fit-content;
            border-radius: 16px;
            background-color: rgb(255, 255, 255);
            font-size: 12px;
            transition: ease 0.3s;
            cursor: pointer;
            &:hover {
                background-color: rgb(255, 189, 189);
                color: rgb(148, 0, 0);
            }
        }
        .inputComExa {
            border: none;
            border-bottom: 1px solid rgb(190, 190, 190);
            outline: none;
            width: 100%;
            height: 100%;
        }
    }
    .inputSubmit {
        min-width: 150px;
        display: block;
        color: rgb(0, 94, 12);
        background-color: rgb(219, 255, 211);
        margin-top: 10px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border-radius: 20px;
        border: unset !important;
        outline: none;
        padding: 5px 20px !important;
        transition: ease 0.1s;
        &:hover {
            background-color: rgb(119, 215, 104);
        }
    }
    .block {
        background-color: #aaa !important;
        opacity: 0.7;
        cursor: no-drop;
    }
}
.login {
    width: 100vw;
    height: 100%;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    label {
        color: rgb(168, 0, 223);
    }
    input {
        border: none;
        outline: none;
        padding: 0 10px;
        border-bottom: solid 1px black;
        width: 70vw;
        min-width: 320px;
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
    }
    .button {
        border: solid 1px rgb(118, 0, 164);
        padding: 10px 20px;
        display: block;
        width: fit-content !important;
        background-color: rgb(246, 222, 255);
        border-radius: 30px;
        transition: ease 0.2s;
        cursor: pointer;
        &:hover {
            background-color: rgb(118, 0, 164);
            color: white;
        }
    }
    .buttonBlock {
        border: solid 1px rgb(68, 68, 68);
        padding: 10px 20px;
        display: block;
        width: fit-content !important;
        background-color: rgb(185, 185, 185);
        border-radius: 30px;
        cursor: no-drop;
    }
    .forgotPassword {
        text-align: right;
        transition: ease 0.2s;
        &:hover {
            color: rgb(118, 0, 164);
        }
    }
}
